@charset "UTF-8";
* {
  color: #44403F;
  font-family: 'Noto Sans TC', '微軟正黑體', '黑體' , 'Arial';
}

html, body, #app {
  background-color: #3E3A39;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#app {
  background: -webkit-gradient(linear, left top, left bottom, from(#2B2828), color-stop(96%, #2B2828), color-stop(96%, #333));
  background: linear-gradient(#2B2828 0%, #2B2828 96%, #333 96%);
  background-size: 40px 40px;
}

li {
  opacity: 0.9;
}

li:hover {
  z-index: 999;
  opacity: 1;
}

.postit {
  width: 240px;
  height: 240px;
  font-size: calc( 240px / 4 - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFEB67;
  letter-spacing: 10px;
  font-weight: 500;
  -webkit-box-shadow: 15px 10px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 15px 10px 40px rgba(0, 0, 0, 0.4);
  position: absolute;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  cursor: pointer;
  z-index: 10;
}

.postit .text {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.postit .colorList {
  position: absolute;
  left: 0;
  bottom: -50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.postit .colorList .block {
  width: 30px;
  height: 30px;
  position: relative;
  bottom: -20px;
  margin-right: 10px;
  display: inline-block;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.postit:before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  border: solid 1px rgba(255, 255, 255, 0.6);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  pointer-events: none;
}

.postit:hover:before {
  opacity: 1;
}

.postit:hover .colorList {
  opacity: 1;
}

.postit:hover .colorList .block {
  opacity: 1;
}

.postit:hover i {
  opacity: 1;
}

.postit i {
  opacity: 0;
  -webkit-transition-duration: 0.5;
          transition-duration: 0.5;
}

.postit i.fa-trash-o, .postit i.fa-pencil {
  position: relative;
  right: -20px;
  bottom: -15px;
  color: white;
  font-size: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ddd;
}

.postit i.fa-pencil {
  left: 10px;
}

.datalist {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 250px;
  z-index: 0;
  border: solid 1px rgba(255, 255, 255, 0.6);
  padding: 10px;
  margin: 0;
  overflow-y: scroll;
  height: 52%;
}

.datalist .addPostit, .datalist .deleteAllPostit {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.datalist .addPostit:hover, .datalist .deleteAllPostit:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.datalist li {
  padding: 0;
  margin: 0;
  padding-left: 10px;
}

.datalist li input {
  width: 180px;
}

.datalist li .colorList {
  margin-top: 5px;
  position: relative;
  margin-bottom: 10px;
}

.datalist li .colorList .blockList {
  cursor: pointer;
}

.datalist li .colorList .deletePostit {
  color: white;
  font-size: 32px;
  position: relative;
  top: -3px;
  cursor: pointer;
}

.blockList {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 10px;
}

.fade-enter-active, .fade-leave-active {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}
/*# sourceMappingURL=style.css.map */